@import url('https://fonts.googleapis.com/css?family=Ubuntu');

/*************************************************
            DEFAULTS
*************************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*::after,
*::before {
    box-sizing: inherit;
}

html {
    font-size: 16px;
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    line-height: 1.5;
}


img {
    width: 50%;
}

button,
select,
input {
    font-family: Ubuntu, Helvetica, Arial, sans-serif;
    line-height: 1.2;
    padding: 0.4rem;
}

/*************************************************
            HEADER
*************************************************/
header {
    padding: 1rem 2rem;
    border-top: 1rem solid hsl(44, 78%, 56%);
    background-image: url("../img/HDBG.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header > h1 {
    color: hsl(1, 0%, 20%);
    font-size: 2.8rem;
    text-shadow: 1.5px 1.5px hsl(0, 0%, 100%);
}

header > h2 {
    font-size: 1.8rem;
    color: hsl(1, 0%, 20%);
}


/*************************************************
            NAVMENU
*************************************************/
.mainnav {
    clear: both;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    background-image: linear-gradient(hsl(1, 0%, 60%), hsl(1, 0%, 95%));
    padding: 0.8rem;
}

.subnav {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    order: 1;
}

.subnav a,
.subnav a:visited,
.subnav a:link {
    font-size: 1.1rem;
    text-decoration: none;
    color: hsl(1, 0%, 30%);
    border-bottom: 3px solid transparent;
}

.subnav a:active,
.subnav a:focus,
.subnav a:hover {
    border-bottom: 3px solid hsl(44, 78%, 56%);
}

nav > a,
nav > a:visited,
nav > a:link {
    font-size: 1.4rem;
    text-decoration: none;
    color: hsl(1, 0%, 30%);
    border-bottom: 3px solid transparent;
}

nav > a:active,
nav > a:focus,
nav > a:hover {
    border-bottom: 3px solid hsl(44, 78%, 56%);
}

/*************************************************
            MAIN CONTENT
*************************************************/
main {
    padding: 1rem 2rem;
}

.primary {
    display: flex;
    flex-direction: row;
    border-bottom: 1rem solid hsl(44, 78%, 56%);
}

.segment {
    width: 33%;
}

.comments {
    width: 1000px;
}

.docs,
.channels {
    width: 250px;
}

section p img {
    float: left;
    margin: 0 1rem 0 0;
}

section p {
    padding: 0 1rem 0 0;
}


/*************************************************
            FOOTER
*************************************************/
.foot {
    clear: both;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: baseline;
    background-image: linear-gradient(hsl(1, 0%, 95%), hsl(1, 0%, 60%));
    padding: 0.8rem;
    padding: 1rem 2rem;
    width: 100%;
}

.comments {
    order: 2;
}

.foot dt {
    font-size: 1.4rem;
}

#btnSend {
    color: hsl(1, 0%, 100%);
    background-color: hsl(1, 0%, 70%);
    font-size: 1.1rem;
    border: 5px solid hsl(44, 78%, 56%);
    border-radius: 8px;
    border-style: outset;
    border-width: medium;
    text-shadow: 5px;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
}

#btnSend:hover {
    background-color: hsl(44, 78%, 56%);
}

#comment {
    width: 100%;
    height: 100px;
    box-shadow: 2px 2px 3px 0 hsl(1, 0%, 30%);
    margin-top: 5px;
    margin-bottom: inherit;
}

#city {
    width: 100%;
    font-size: 1rem;
    color: hsl(1, 0%, 30%);
    box-shadow: 2px 2px 3px 0 hsl(1, 0%, 30%);
    margin-top: 5px;
    margin-bottom: inherit;
}

#name,
#email {
    width: 49.5%;
    font-size: 0.8rem;
    color: hsl(1, 0%, 30%);
    box-shadow: 2px 2px 3px 0 hsl(1, 0%, 30%);
    margin-top: 5px;
    margin-bottom: inherit;
}


/*************************************************
            MEDIA QUERIES for layout
*************************************************/
@media (max-width: 599px) {
    header {
        border-top: 1rem solid hsl(142, 70%, 30%);
    }

    .mainnav {
        clear: both;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0.8rem;
        justify-content: space-evenly;
    }

    nav > a:active,
    nav > a:focus,
    nav > a:hover,
    .subnav a:active,
    .subnav a:focus,
    .subnav a:hover {
        border-bottom: 3px solid hsl(142, 70%, 30%);
    }

    .primary {
        flex-wrap: wrap;
        border-bottom: 1rem solid hsl(142, 70%, 30%);
    }

    .segment {
        width: 100%;
    }

    .foot {
        flex-direction: column;
    }

    .subnav {
        order: 2;
    }

    .comments {
        order: 1;
        width: 100%;
    }

    #btnSend:hover {
        background-color: hsl(142, 70%, 30%);
    }

    #btnSend {
        border: 5px solid hsl(142, 70%, 30%);
    }

    #comment,
    #city {
        width: 99%;
    }

    #name,
    #email {
        width: 49%;
    }
}

@media (min-width: 600px) and (max-width:999px) {

    header {
        border-top: 1rem solid hsl(202, 70%, 50%);
    }

    nav > a:active,
    nav > a:focus,
    nav > a:hover,
    .subnav a:active,
    .subnav a:focus,
    .subnav a:hover {
        border-bottom: 3px solid hsl(202, 70%, 50%);
    }

    .primary {
        flex-wrap: wrap;
        border-bottom: 1rem solid hsl(202, 70%, 50%);
    }

    .segment {
        width: 100%;
    }

    .segment img {
        width: 25%;
    }

    .minor-segment {
        width: 50%;
    }

    .foot {
        flex-direction: column;
    }

    .subnav {
        order: 2;
    }

    .comments {
        order: 1;
        width: 100%;
    }

    #btnSend:hover {
        background-color: hsl(202, 70%, 50%);
    }

    #btnSend {
        border: 5px solid hsl(202, 70%, 50%);
    }

    #comment,
    #city {
        width: 99%;
    }

    #name,
    #email {
        width: 49%;
    }
}

@media (min-width: 1000px) {

    header {
        border-top: 1rem solid hsl(44, 70%, 50%);
    }

    nav > a:active,
    nav > a:focus,
    nav > a:hover,
    .subnav a:active,
    .subnav a:focus,
    .subnav a:hover {
        border-bottom: 3px solid hsl(44, 70%, 50%);
    }

    .primary {
        flex-wrap: nowrap;
        border-bottom: 1rem solid hsl(44, 70%, 50%);
    }

    .segment {
        width: 33%;
    }

    #btnSend:hover {
        background-color: hsl(44, 78%, 56%);
    }

    #btnSend {
        border: 5px solid hsl(44, 78%, 56%);
    }
    .comments {
        width: 100%;
    }
}
